ul
{
	font-family: Arial, Verdana;
	font-size: 14px;	
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li
{
	float: left;
	position:relative;
}

li ul
{
	display: none;
}

ul li a
{
	display: block;
	width:150px;
	text-decoration: none;
	color: #ffffff;
	text-align:center;
	border-top: 1px solid #ffffff;
	padding: 5px 15px 5px 15px;
	background: #De3c9a;
	margin-left: 1px;
	white-space: nowrap;
}

li:hover ul
{
	display: block;
	position: absolute;
}

ul li a:hover
{
	background: #0066FF;
}


.menu {
  padding: 0px;
  margin: 0px;
}

.menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.top {
  text-decoration: none;
}
